---
layout: default
---
<div class="post-info">
    <h2>{{ page.title }}</h2>
    <p>{{ page.date | date_to_string }}{% if page.author %} - {{ page.author }}{% endif %}</p>
    {% if page.categories.size > 0 or page.tags.size > 0 %}
    <p style="font-size: 0.9em; font-style: italic;">
        {% if page.categories.size > 0 %}
            Categories:
            {% for category in page.categories %}
            <a href="{{ site.baseurl }}/category/{{ category | slugify }}/">{{ category }}</a>{% unless forloop.last %}, {% endunless %}
            {% endfor %}
        {% endif %}
        {% if page.categories.size > 0 and page.tags.size > 0 %} | {% endif %}
        {% if page.tags.size > 0 %}
            Tags:
            {% for tag in page.tags %}
            <span>{{ tag }}</span>{% unless forloop.last %}, {% endunless %}
            {% endfor %}
        {% endif %}
    </p>
    {% endif %}
</div>

<div class="post-content">
{{ content }}
</div>

<script src="https://cdn.jsdelivr.net/npm/medium-zoom@1/dist/medium-zoom.min.js"></script>
<script>
  mediumZoom('.post-content img');
</script>
